<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeskServlet</display-name>
    <servlet-name>DeskServlet</servlet-name>
    <servlet-class>cn.et.controller.DeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeskServlet</servlet-name>
    <url-pattern>/listDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeskServlet</display-name>
    <servlet-name>AddDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.AddDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeskServlet</servlet-name>
    <url-pattern>/addDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeskServlet</display-name>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.DeleteDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeskServlet</servlet-name>
    <url-pattern>/deleteDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeskServlet</display-name>
    <servlet-name>UpdateDeskServlet</servlet-name>
    <servlet-class>cn.et.controller.UpdateDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeskServlet</servlet-name>
    <url-pattern>/updateDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodTypeServlet</display-name>
    <servlet-name>AddFoodTypeServlet</servlet-name>
    <servlet-class>cn.et.controller.AddFoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodTypeServlet</servlet-name>
    <url-pattern>/addFoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodTypeServlet</display-name>
    <servlet-name>FoodTypeServlet</servlet-name>
    <servlet-class>cn.et.controller.FoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodTypeServlet</servlet-name>
    <url-pattern>/listFoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodTypeServlet</display-name>
    <servlet-name>DeleteFoodTypeServlet</servlet-name>
    <servlet-class>cn.et.controller.DeleteFoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodTypeServlet</servlet-name>
    <url-pattern>/deleteFoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodTypeServlet</display-name>
    <servlet-name>UpdateFoodTypeServlet</servlet-name>
    <servlet-class>cn.et.controller.UpdateFoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodTypeServlet</servlet-name>
    <url-pattern>/updateFoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>cn.et.controller.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/listFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/addFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/deleteFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>cn.et.controller.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/updateFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet2</display-name>
    <servlet-name>UpdateFoodServlet2</servlet-name>
    <servlet-class>cn.et.controller.UpdateFoodServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet2</servlet-name>
    <url-pattern>/upFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cn.et.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>cn.et.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/showImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>cn.et.controller.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/orderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailServlet</display-name>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>cn.et.controller.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/orderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>cn.et.controller.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/updateOrder</url-pattern>
  </servlet-mapping>
</web-app>